@import '@fontsource/fira-mono';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


:root {
    --main-color: 64, 117, 166;
    --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-text: rgba(0, 0, 0, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);

}

body {
    min-height: 100dvh;
    max-width: 100dvw;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
    background-image: radial-gradient(50% 50% at 50% 50%,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0) 100%),
        linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a {
    color: var(--color-theme-1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

.title{
    color: rgba(var(--main-color), 0.7);
    font-weight: 800;
    text-transform: uppercase;
    margin: 2rem 0;
}

.parse{
    z-index: 999;
    position: absolute;
    left: 36rem;
    top: 8rem;
    color: rgba(var(--main-color), 1);
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    padding: 1rem  2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgba(var(--main-color), 0.3);
    backdrop-filter: blur(10px);
}

.tokens{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tokens .code, .tokens .tree, textarea {
    border: rgba(var(--main-color), 1) 5px solid !important;
    border-radius: 0.5rem;
    padding: 2rem !important;
    background-color: #fff;
}

.tokens .tree {
    color: #fff;
    background-color: #212121;
}

.tokens .code, .tokens .tree{
    height: calc(50dvh - 0.5rem);
    overflow: scroll;
}

.tokens p{
    border-bottom: 1px solid #ccc;
    width: fit-content;
    padding: 1rem 0.5rem 0.5rem 1.5rem ;
}

.tokens p:hover{
background-color: rgba(255, 255, 255, 0.1);
}